.footer {
  background: var(--color-surface-dark);
  color: var(--color-text-white);
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer__section {
  width: 30%;
}

.footer__title {
  color: var(--color-text-white);
  font-size: 1rem;
  padding: 0.9rem 0;
}

.footer__section--about .footer__description {
  font-size: 0.7rem;
  color: var(--color-text-white);
  width: 90%;
}

.footer__section--about .footer__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-top: 0.6rem;
}

.footer__section--about .footer__social-icon {
  fill: var(--color-text-white);
  width: 1.5rem;
  height: auto;
}

.footer__section--links .footer__nav {
  font-size: 0.7rem;
}

.footer__section--links .footer__nav-item:hover {
  text-decoration: underline;
}

.footer__section--contact .footer__contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.footer__section--contact .footer__contact-icon {
  fill: var(--color-text-white);
  width: 1.5rem;
  height: auto;
}

.footer__quote {
  width: 30%;
  padding: 2rem;

  background: var(--color-primary);

  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__quote-text {
  position: relative;
  font-size: 0.7rem;
  padding-left: 2rem;

  color: var(--color-text-white);

  line-height: 1.5;
  font-style: italic;
}

.footer__quote-text::before {
  content: "❝";

  position: absolute;
  left: 0;
  top: -0.5rem;

  color: var(--color-text-white);

  font-size: 2.5rem;
  line-height: 1;
}

.footer__quote-author::before {
  content: "— ";
}

.footer__quote-author {
  margin-top: 1rem;
  margin-left: 2rem;

  color: var(--color-text-white);

  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
}

.footer__copyright {
  padding: 1.25rem;

  display: flex;
  justify-content: center;

  background-color: var(--color-background);
}

.footer__copyright-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--color-primary);
  font-size: 0.9rem;
}

.footer__copyright-icon {
  width: 1rem;
  height: 1rem;

  fill: currentColor;

  flex-shrink: 0;
}
