.footer {
  background: var(--color-surface-dark);
  color: var(--color-text-white);
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer__section {
  width: 20%;
}

.footer__title {
  color: var(--color-text-white);
  font-size: 1rem;
  padding: 0.9rem 0;
}

.footer__section--about .footer__description {
  font-size: 0.7rem;
  color: var(--color-text-white);
  width: 90%;
}

.footer__section--about .footer__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-top: 0.6rem;
}

.footer__section--about .footer__social-icon {
  fill: var(--color-text-white);
  width: 1.5rem;
  height: auto;
}

.footer__section--links .footer__nav {
  font-size: 0.7rem;
}

.footer__section--links .footer__nav-item:hover {
  text-decoration: underline;
}

.footer__section--contact .footer__contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.footer__section--contact .footer__contact-icon {
  fill: var(--color-text-white);
  width: 1.5rem;
  height: auto;
}
